.qmake.stash
QBoard.qtvscr
QBoard_resource.aps
ui_addenginedialog.h
ui_enginemanager.h
ui_mainwindow.h
ui_settingsdialog.h
ui_newgamedialog.h
ui_promotiondialog.h
/.vs
/QBoard.pro.user
/debug
/release
/build
